<%= form_for(@video) do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% @video.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div style="height:600px">
  <table>
    <tr>
      <td>
        ID:
      </td>
      <td>
        <%= @video.id %>
      </td>
    </tr>
    <tr>
      <td>
        Name:
      </td>
      <td>
        <%= @video.name %>
      </td>
    </tr>
    <tr>
      <td>
        Description:
      </td>
      <td>
        <%= @video.description %>
      </td>
    </tr>
    <tr>
      <td>
        Video Url ID: 
      </td>
      <td>
        <%= @video.name %>
      </td>
    </tr>
    <tr>
      <td>
        Thumbnail Image Url:
      </td>
      <td>
        <%= @video.thumbnail_image_url %>
      </td>
    </tr>
    <tr>
      <td>
        Is Ignored:
      </td>
      <td>
        <%= @video.ignored %>
      </td>
    </tr>
    
  </table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
