<div class="centerofpage" style="top:252px; width:830px">

<div style="display:none">
	<div id="data" style="height:320px">
		<iframe id="videoplayer" width="267" height="267" src=""></iframe>
		<p id="videosowner" style="text-align:center"></p>
	</div>
</div>	

	<div class="videoholder">
		<% @videos.each do |video| %>
			<div class="smallvideoframe bgcolorgreen shadowsmall" style="margin-right:15px;margin-top:15px">

				<a class="fancybox" href="#data" onclick="SetIframe('<%= video.url%>치치<%= video.name%>')">
					<%= image_tag video.thumbnail_image_url, :style => "width:180px" %>
				</a>
				<p><%= video.name %></p>
			</div>
		<% end %>

		<script>
		function SetIframe(x)
		{
			var split = x.split('치치');
			$('#videoplayer').attr('src', split[0])
			$('#videosowner').html(split[1])
		}

		
		$(document).ready(function() {
		  $("a.fancybox").fancybox({ 
		  	afterClose: function() { $('#videoplayer').attr('src', "")	},
		  	

		  
		  });
		});

		</script>
	</div>
</div>

		    	
<% content_for :left_side do %>

	<div class="sliderholder">
		<%= image_tag "slidepick.png", :id => "viewcontrol" %>
	</div>

	<script type="text/javascript">
		$(function() {
		    $( "#viewcontrol" ).draggable(
		    	{ 
		    		axis: "x", 
		    		grid: [ 200, 0 ], 
		    		containment: "parent",
		    		stop: function() 
		    		{
		    			var position = $('#viewcontrol').css('left');
				        
				        if (position == "-100px")
				        	location = "./";
			      	}
		    	});
		});

		$('#viewcontrol').css('left', '100px')
	</script>

<% end %>


<% content_for :right_side do %>

	<div class="sliderholderright">
		<%= image_tag "slidepick.png", :id => "videocontrol" %>
	</div>

	<script type="text/javascript">
		$(function() {
		    $( "#videocontrol" ).draggable(
		    	{ 
		    		axis: "x", 
		    		grid: [ 200, 0 ], 
		    		containment: "parent",
		    		stop: function() 
		    		{
		    			var position = $('#videocontrol').css('left');

		    			if(position != "-100px")
		    				location = "?pop"
		    			else
		    				location = "./videos"

			      	}
		    	});
		});

		$('#videocontrol').css('top', '6px')
		$('#videocontrol').css('left', '-100px')

		if (location.href.indexOf("pop") > -1)
			$('#videocontrol').css('left', '100px')

	</script>

<% end %>