<% if @videos.count > 1 %>
	<div class="centerofpage" style="top:140px;overflow:hidden;height:521px;width:375px">

		<div class="videopopup" style="background-color: #4FF28C;position: absolute;z-index: 1;height: 438px;width: 360px;margin-top: 48px;display:none;box-shadow:5px 5px 5px rgba(136, 136, 136, 0.49)">
			<%= image_tag "close_btn.png", :style => "margin-left: 96%;top:-30px;position: absolute;display:none; cursor:pointer;z-index: 1;", :id => "close_btn", :onclick => "close_popup()" %>
			
			<div style="padding-top:20px;margin-left:20px;">
				<div id="myElement"></div>
			</div>

			<h2 id="videosowner" style="text-align:center;position: absolute;width:360px"></h2>
		</div>	
	</div>

	<div class="centerofpage scrollable" style="top:239px;overflow:hidden;height:60%">
			
		<div style="width:855px; margin:auto">

			<% if @searchmode == true %>
			<p style="text-align:left;font-weight:bold;margin:0 0 0 25px;position:relative">
				<%= @videos.first.name %>'s Videos
			</p>
			<% end %>

			<div class="videoholder">
				<% @videos.each do |video| %>
					<div class="smallvideoframe bgcolorgreen shadowsmall" style="margin-right:15px">

						<a href="javascript:void(0)" onclick="SetIframe('<%= video.url%>áá<%= video.name%>áá<%= video.id %>')">
							<%= image_tag video.thumbnail_image_url, :style => "width:180px" %>
						</a>
						<p><%= video.name[0..20] %></p>

						<div id="fb-root"></div>
						<div id="<%= video.id %>" class="fb-like" data-href="<%= video.shareurl%>" data-layout="button" data-action="like" data-ref="test" data-show-faces="true" data-share="true" data-count="none"></div>

						<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-count="none" data-url="<%= video.shareurl%>">Tweet</a>					
					
					</div>
				<% end %>


				<script>
				
				function SetIframe(x)
				{
					$("[id*='clone']").remove();

					var split = x.split('áá');

					jwplayer("myElement").load([{file:split[0]}]);

					$('.videopopup').css('display', 'block');
					$('.videopopup').css('height', '438px');
				    $('.videopopup').css('width', '360px');
				    $('.videopopup').css('top', '');
				    $('.videopopup').css('left', '');
				    $('#close_btn').css('display', 'block');
				    $('#myElement').css('height', '320px');



					jwplayer("myElement").play();

					$('#videosowner').html('@'+split[1]);

					var i = 0;

				    var original = document.getElementById(split[2]);
				    var clone = original.cloneNode(true); // "deep" clone
				    
				    clone.id = "clone" + ++i; // there can only be one element with an ID
				    clone.style.marginLeft = "133px";
				    clone.style.marginTop = "62px";

			    	$('.videopopup').append(clone);
				}

				function close_popup()
				{
					$('#myElement').css('height', '0px');
				    $('#close_btn').css('display', 'none');
				    $('.videopopup').css('height', '1px');
				    $('.videopopup').css('width', '1px');
				    $('.videopopup').css('top', '-9999px');
				    $('.videopopup').css('left', '-9999px');

				    jwplayer("myElement").stop();
				}
				
				$(document).ready(function() {
					
			  		jwplayer("myElement").setup({
				        file: "https://videos-vm.jwpsrv.com/bLS9UXL5/videos/9hav9mJH-mnBBh60T.mp4?5c877a8d15f183bb974dcdccb105a79495b4e5e3b1b6e4cf277e6e0c5b99abd39e8b3e7893a8b9f5b86c3d1e0f21fbc0b3aba0c09fa78ce8c9dbca67ba28a6ffb188ddb1dc7ebe4bfa134d8ee4d8f3963619226e4151",
				        primary: "flash",
				        width: 320,
				        height: 320,
				        autostart: false,
				        mute: false
				    });

				    $("a.fancybox3").fancybox({ 
				  		closeBtn: false,
				  	});


					});

				</script>
			</div>
		</div>
	</div>

<% elsif @videos.count == 1 %>
	<div class="centerofpage scrollable" style="width:400px;top:235px; overflow:hidden;height:500px">

		<div style="position:absolute;height:650px">
		<p style="text-align:left;font-weight:bold">
			<%= @videos.first.name %>'s Videos
		</p>
		<div class="videoframe_big bgcolorgreen shadow" style="height: 418px;">
			<div style="padding-top:20px;margin-left:20px;">
				<div id="myElement"></div>
			</div>
		</div>

		<div class="fb-like" data-href="<%= @videos.first.shareurl%>" data-layout="button" data-action="like" data-show-faces="true" data-share="true" data-count="none" style="top: -35px!important;margin-left: 140px;"></div>
		</div>
		<script>
		var thevideo = '<%= @videos.first.url %>';
			jwplayer("myElement").setup({
		        file: thevideo,
		        primary: "flash",
		        width: 350,
		        height: 350,
		        autostart: true,
		        mute: false
		    });
		</script>
	</div>
<% else %> 
	<div class="centerofpage" style="width:400px;top:145px;text-align: center;">
		<p style="text-align:center;font-family:'jam_fontregular';font-size:41px;color:white;margin-top:153px">
			SORRY!
		</p>
		<p style="text-align:center;font-family:'TradeGothic';font-size:30px;color:white;margin-top: -21px;">
			Your Search didn't return any results
		</p>

		<a href="/videos">
			<%= image_tag "returntovideos.png" %>
		</a>
	</div>
<% end %>

		    	
<% content_for :left_side do %>
	
	<div style="margin-top:92px">
		<div class="sliderholder" style="margin-top: 102px; position:relative">
			<%= image_tag "slidepick.png", :id => "viewcontrol", :style=>"position:relative"%>
		</div>

		<div id="videopageleftslider" style="width: 75px;height: 54px;background-color: transparent;position: relative;margin-right: 485px;float: right;margin-top: -63px;cursor:pointer" onclick="Danceoff()"> </div>

		<% if request.original_url.include? "search" %>
			<div style="width: 75px;height: 54px;background-color: transparent;position: relative;margin-right: 310px;float: right;margin-top: -63px;cursor:pointer" onclick="ViewAll()"> </div>
		<% end %>
	</div>
	<script type="text/javascript">

		function Danceoff()
		{
			location = "./";
		}

		function ViewAll()
		{
			location = "videos";
		}

		var temp = [200,0];

		if (window.location.href.indexOf("search") > -1)
		{
			$('#viewcontrol').css('left', '0px')
			temp = [100,0]
			$('.sliderholderright').css('display', 'none')
		}
		else
			$('#viewcontrol').css('left', '100px')


		$(function() {
		    $( "#viewcontrol" ).draggable(
		    	{ 
		    		axis: "x", 
		    		grid: temp, 
		    		containment: "parent",
		    		stop: function() 
		    		{
		    			var position = $('#viewcontrol').css('left');
				        
				        if (position == "-100px")
				        	location = "./";

				        if (position == "100px")
				        	location = "./videos";
			      	}
		    	});
		});

		

	</script>

<% end %>


<% content_for :right_side do %>
	
	<div class="searchbox">
		<input type="text" id="s_box" value="<%= @searchparam %>"/>
		<div class="gobutton" onclick="Go()"></div>
	</div>
	
	<div class="sliderholderright">
		<%= image_tag "slidepick.png", :id => "videocontrol" %>
	</div>

	<% if request.original_url.include? "pop" %>
	<div id="videopagerightsliderrecent" style="width: 75px;height: 54px;background-color: transparent;position: absolute;margin-left: 310px;float: left;margin-top: 114px;cursor:pointer" onclick="MostRecent()"> </div>
	<% else %>
	<div id="videopagerightslider" style="width: 75px;height: 54px;background-color: transparent;position: absolute;margin-left: 485px;float: left;margin-top: 114px;cursor:pointer" onclick="MostPopular()"> </div>
	<% end %>

	<script type="text/javascript">

		function MostRecent()
		{
			location = "./videos"
		}

		function MostPopular()
		{
			location = "?pop"
		}

		$(function() {
		    $( "#videocontrol" ).draggable(
		    	{ 
		    		axis: "x", 
		    		grid: [ 200, 0 ], 
		    		containment: "parent",
		    		stop: function() 
		    		{
		    			var position = $('#videocontrol').css('left');

		    			if(position != "-100px")
		    				location = "?pop"
		    			else
		    				location = "./videos"

			      	}
		    	});
		});

		function Go()
		{
			location = "./videos?search=" + $('#s_box').val()
		}

		$('#videocontrol').css('top', '6px')
		$('#videocontrol').css('left', '-100px')

		if (location.href.indexOf("pop") > -1)
			$('#videocontrol').css('left', '100px')

		if (window.location.href.indexOf("search") > -1)
			$('.sliderholderright').css('display', 'none')

	</script>

<% end %>

<script>
	$('.scrollable').perfectScrollbar();

 	$(window).bind("load", function() {
       $.getScript('assets/social.js', function() {});
    });
</script>

