<div class="centerofpage" style="width:131px;top:412px;">
	<%= image_tag "or.png" %>

	<%= @video %>
</div>

<% content_for :left_side do %>

	<div class="sliderholder">
		<%= image_tag "slidepick.png", :id => "viewcontrol" %>
	</div>

	<script type="text/javascript">
		$(function() {
		    $( "#viewcontrol" ).draggable(
		    	{ 
		    		axis: "x", 
		    		grid: [ 200, 0 ], 
		    		containment: "parent",
		    		stop: function() 
		    		{
		    			var position = $('#viewcontrol').css('left');
				        
				        if (position == "100px")
				        	location = "videos";
			      	}
		    	});
		});

		$('#viewcontrol').css('left', '-100px')
	</script>


	
	<div class="fltright">
		<p style="text-align:left;margin-top:82px;font-weight:bold">
			<%= @firstvideo.name %>
		</p>
		<div class="videoframe bgcolororange shadowblue" style="margin-right:150px;">
			<iframe width="267" height="267" src="<%= @firstvideo.url %>"></iframe>
		</div>
		<div class="youpassbtn">
			<%= image_tag "youpass_btn.png" %>
		</div>
	</div>

<% end %>

<% content_for :right_side do %>

	<div class="fltleft">
		<p style="text-align:left;margin-top:250px;margin-left:150px;font-weight:bold">
			<%= @secondvideo.name %>
		</p>
		<div class="videoframe bgcolorgreen shadowpink" style="margin-left:150px;">
			<iframe width="267" height="267" src="<%= @secondvideo.url %>"></iframe>
		</div>
		<div class="youpassbtn" style="margin-left: 182px;">
			<%= image_tag "youpass_btn.png" %>
		</div>
	</div>

<% end %>
