<div class="centerofpage" style="width:200px;top:295px;">

    <%= image_tag "or.png" %>
    <%= @video %>

    <a href="#data" class="fancybox" id="jasonlink" style="display:none"></a>

    <div id="jasonpopup" style="display:none">
        <div id="data" style="width:595px;height:420px;text-align:center">

            <div id="myElement"></div>

            <br/>
            <%= link_to("/auth/facebook", :id => "sign_in") do %>
                <%= image_tag "fblike.png"  %>
            <% end %>
        </div>
        
    </div>

    <a href="#data2" id="fbpopup_click" class="fancybox2" style="display:none"></a>

    <div id="fbpopup" style="display:none">
        <div id="data2" style="width:568px;height:346px">

            <%= image_tag "popupframe.png", :style => "position:absolute" %>

            <%= link_to("/auth/facebook", :id => "sign_in") do %>
                <%= image_tag "fblike.png", :style => "margin-left: 188px;margin-top: 100px;position:absolute" %>
            <% end %>
            
            <p style="margin-left: 133px;margin-top: 203px;position: absolute;">Make your selection count by liking Jam Audio.</p>
        </div>
    </div>
</div>


<% content_for :left_side do %>
    
    <div class="sliderholder" style="position:relative; margin-top:15px">
        <%= image_tag "slidepick_v2.png", :id => "viewcontrol", :style=>"position:relative", :class=>"slidepick" %>
        <div style="width: 75px;height: 54px;background-color: transparent;position: absolute;float: right;margin-top: -34px;cursor: pointer;margin-left: 133px;" onclick="ViewAll()"> </div>
    </div>

<% end %>

<% content_for :right_side do %>

    <%= image_tag "toprightbanner.png", :style => "float:right;z-index: 3;position: relative;margin-top:41px" %>

<% end %>


<div id="scroller" class="centerofpage" style="top:159px;">
    <div class="fltleft" style="margin-left:30px;height:494px">
        <p style="text-align:left;font-weight:bold;position:relative">
            <%= @firstvideo.name %>
        </p>
        <div class="videoframe bgcolororange shadowblue " style="position:relative">

            <div style="margin-left:15px;padding-top:15px" onmouseover="jwplayer('video_left').setMute(false);" onmouseout="jwplayer('video_left').setMute(true);">
                <div id="video_left"></div> 
            </div>

        </div>
        
        <div id="left_button_div" class="youpassbtn" onclick="formSubmit(<%= @firstvideo.id %>)"></div> 
    </div>
    <div class="fltright" style="margin-right:50px;">
        <p style="text-align:left;font-weight:bold">
            <%= @secondvideo.name %>
        </p>

        <div class="videoframe bgcolororange shadowpink" >

            <div style="margin-left:15px;padding-top:15px" onmouseover="jwplayer('video_right').setMute(false);" onmouseout="jwplayer('video_right').setMute(true);">
                <div id="video_right"></div> 
            </div>

        </div>

        <div id="right_button_div" class="youpassbtn" style="" onclick="formSubmit(<%= @secondvideo.id %>)"></div>   
    </div>
</div>

<img src="https://ad.amgdgt.com/ads/?t=ap&px=41949&rnd=<%= @timestamp %>" width="1" height="1" border="0"/>

<form id="whopass" accept-charset="UTF-8" action="/home/index" method="post" style="display:none">
    <input type="text" id="winner" name="winner" value="" />
</form>

<script>

    var test = '<%= current_user %>';
    var firstvideourl = '<%= @firstvideo.url %>';
    var secondvideourl = '<%= @secondvideo.url %>';
    var firstvideoimage = '<%= @firstvideo.thumbnail_image_url %>';
    var secondvideoimage = '<%= @secondvideo.thumbnail_image_url %>';




    $(document).ready(function() {

        jwplayer("video_left").setup({
                file: firstvideourl.replace("http", "https"),
                image: firstvideoimage,
                primary: "flash",
                width: 277,
                height: 277,
                autostart: false,
                repeat: true,
                mute: true,
            });

        jwplayer("video_right").setup({
                file: secondvideourl.replace("http", "https"),
                image: secondvideoimage,
                primary: "flash",
                width: 277,
                height: 277,
                autostart: false,
                repeat: true,
                mute: true,
            });

        $("a.fancybox3").fancybox({ 
            afterClose: function() {

                if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
            
                }
                else{
                    jwplayer('video_left').play();
                    jwplayer('video_right').play(); 
                }
            }
        });

        $("a.fancybox2").fancybox({
            tpl: {
              closeBtn: '<div title="Close" id="fb_close_button"></div>'
             }
        });

        $( "#viewcontrol" ).draggable({ 
            axis: "x", 
            grid: [ 162, 0 ], 
            containment: "parent",
            stop: function() 
            {
                var position = $('#viewcontrol').css('left');
                
                if (position == "80px")
                    location = "videos";
            }
        });
        $('#viewcontrol').css('left', '-82px');



    });

            

    $(window).bind("load", function() {

        if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
        
        }
        else
        {
            jwplayer('video_left').play();
            jwplayer('video_right').play(); 
        }
    });
    
    
    function formSubmit(x)
    {
        $('#winner').val(x);
        document.getElementById("whopass").submit();
    }

    function ViewAll()
    {
        location = "videos";
    }
</script>