<!DOCTYPE html>
<html>
	<head>
	  <title>Jam Dance Daddy Move Momma</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<div class="container">
			<div class="centerofpage" style="width:487px">
				
				<div id="howtowin" style="display:none">
					<div id="data3" style="width:868px;height:546px">
				  		<%= image_tag "popupframe_big.png", :style => "position:absolute" %>
				  		<div style="width: 646px;height: 325px;padding-top: 81px;color: black;z-index: 60;position: absolute;padding-left: 51px;">
				  			<p class="popupheader" style="margin:0px 0px 29px 0px;">SAVE YOUR PARENTS A PILE OF CASH. ALL THEY HAVE TO DO IS DANCE.</p>
			  				
			  				<div style="margin-top:5px;height: 74px;">
		  					<%= image_tag "1.jpg", :style => "padding-left: 38px;padding-right: 27px;float: left;" %>
		  					<p class="popupheader" style="color:Black;text-align:left;margin: 0;float: left;">FILM 'EM<br/>
		  					<span style="margin: 0;float: left;font-family:'TradeGothic';font-size: 17px;width: 506px;">Submit one or more Vine or Instagram videos of your parents cutting a rug. The funnier the better, but keep it clean.</span></p>
		  					</div>

		  					<div style="margin-top:5px;height: 74px;">
		  					<%= image_tag "2.jpg", :style => "padding-left: 38px;padding-right: 27px;float: left;" %>
		  					<p class="popupheader" style="color:Black;text-align:left;margin: 0;float: left;">TAG IT</p>
		  					<p style="margin: 0;float: left;font-family:'TradeGothic';font-size: 17px;width: 506px;">Use hashtag <span style="font-weight:bold;font-family:'hitchcock';color:#f2944f;font-size: 15px;">#Jam25kentry</span> to enter your vid then share it with friends. Jam speakers will be given away each week.</p>
		  					</div>

		  					<div style="margin-top:5px;height: 74px;">
		  					<%= image_tag "3.jpg", :style => "padding-left: 38px;padding-right: 27px;float: left;" %>
		  					<p class="popupheader" style="color:Black;text-align:left;margin: 0;float: left;">THE BIG MONEY</p>
		  					<p style="margin: 0;float: left;font-family:'TradeGothic';font-size: 17px;width: 506px;">Come back August 22 to help us vote on the top 3 videos. The $25K scholarship winner will be announced in September.</p>
		  					</div>

		  					<a href="/WoodsWittDanceDaddyMoveMomma.docx" style="margin-left: 320px;color:#f2944f">Rules</a>

				  		</div>
					</div>
				</div>

				<%= link_to image_tag('logo.png'), url_for({:controller => 'home', :action => 'index'}) %>

				<canvas id="myCanvas" width="300" height="562" style="margin-left:204px;margin-top: 1px;">Your browser does not support the HTML5 canvas tag.</canvas>
			</div>

			<%= yield %>

			<div class="content bgcolor<%= @leftsidebgcolor %> fltleft">
				<%= yield :left_side %>
			</div>

			<div class="content bgcolor<%= @rightsidebgcolor %> fltright">
				<%= yield :right_side %>
			</div>
		</div>

		<div style="cleat:both"></div>

		<div class="footer">
			<div class="footercontainer">
				<div class="shopbtn">
					<a href="http://www.jamaudio.com/products?utm_source=Jam%20Contest%20Landing%20Page&utm_medium=contest&utm_campaign=BTS%20Contest" target="_blank">
					<%= image_tag "shop_btn.png", :style => "margin-top: -38px;z-index: 3;position: relative;" %>
					</a>
				</div>
				<%= image_tag "jam25kentry.png", :style => "margin:auto" %>

				<a class="fancybox3 facebookbtn" href="#data3">
					<%= image_tag "facebookbtn.png" %>
				</a>

								
			</div>
		</div>

		<script>

			var colorOfrightside = "<%= @canvascolor %>"; 
			var c=document.getElementById("myCanvas");
			var ctx=c.getContext("2d");
			ctx.beginPath();
			ctx.moveTo(40,0);
			ctx.lineTo(0,590);
			ctx.lineTo(40,590);
			ctx.lineTo(40,0);
			ctx.strokeStyle = colorOfrightside;
			ctx.stroke();
			ctx.fillStyle= colorOfrightside;
			ctx.fill();

			if (navigator.userAgent.indexOf('Firefox') != -1 && parseFloat(navigator.userAgent.substring(navigator.userAgent.indexOf('Firefox') + 8)) >= 3.6){
				$('#myCanvas').css('margin-top', '-1px')
			 }else if (navigator.userAgent.indexOf('Chrome') != -1 && parseFloat(navigator.userAgent.substring(navigator.userAgent.indexOf('Chrome') + 7).split(' ')[0]) >= 15){//Chrome
			 //Allow
			 }else if(navigator.userAgent.indexOf('Safari') != -1 && navigator.userAgent.indexOf('Version') != -1 && parseFloat(navigator.userAgent.substring(navigator.userAgent.indexOf('Version') + 8).split(' ')[0]) >= 5){//Safari
			 //Allow
			 }else{
			 // Block
			 }

	  
			 $(document).ready(function() {
				  $("a.fancybox3").fancybox({ 
				  	closeBtn: false,
				  
				  });
				});

			  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			  ga('create', 'UA-52488278-1', 'auto');
			  ga('send', 'pageview');

		</script>
	</body>
</html>
