<!DOCTYPE html>
<html>
	<head>
	  <title>Jam Dance Daddy Move Momma</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<div class="container">
			<div class="centerofpage" style="width:349px">
				<%= image_tag "logo.png" %>
			</div>

			<%= yield %>

			<div class="content bgcolor<%= @leftsidebgcolor %> fltleft">
				<%= yield :left_side %>
			</div>

			<div class="content bgcolor<%= @rightsidebgcolor %> fltright">
				<%= yield :right_side %>
			</div>
		</div>

		<div style="clear:both"></div>

		<div class="footer">
			<div class="footercontainer">
				<div class="shopbtn">
					<%= image_tag "shopproducts.png" %>
				</div>
				<div class="facebookbtn">
					<%= image_tag "facebookbtn.png" %>
				</div>
			</div>
		</div>
	</body>
</html>
